{% extends 'components/base.html.twig' %}

{% block content %}
    <h1 class="text-center" style="margin-bottom:3rem;">Get Progress Notification</h1>
    <div class="row" style="text-align:center;">
        <p class="lead col-lg">Do you want to follow the Antorus' race ? Subscribe below to get notified ! :)</p>
    </div>
    <div class="rounded border border-dark form-group js--div-advanced" style="margin: 1rem 0;">
        <div class="row justify-content-lg-center">
            <div class="col-5 col-lg-2">
                <b>Which region ?</b>
            </div>
            <div class="col-7 col-lg-3">
                <b>And how many guilds ?</b>
            </div>
        </div>
        <div class="row justify-content-lg-center">
            <div class="col-lg-5">
                <hr>
            </div>
        </div>
        {% set region = {'world': 'World', 'eu': 'Europe', 'us': 'Americas', 'kr': 'Korea', 'tw': 'Taiwan'} %}
        {% for key, label in region %}
            <div class="form-group row justify-content-lg-center">
                <label for="checkbox_{{ key }}" class="col-lg-1 col-1 col-form-label">{{ label }}</label>
                <div class="col-4 col-lg-1">
                    <div class="checkbox-active">
                        <input type="checkbox" id="checkbox_{{ key }}" class="js--checkbox-active"
                               data-target="advanced_{{ key }}" {% if key == 'world' %}checked{% endif %}
                               title="Activate {{ label }}">
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="input-group"
                         id="advanced_{{ key }}" {% if key != 'world' %} style="display:none;" {% endif %}>
                        <span class="input-group-addon">Top</span>
                        <input title="Top {{ label }}" type="number" class="form-control" value="3" min="1" max="10">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div style="margin: auto;">
        <button class="btn btn-success js--submit-button d-block mx-auto" disabled>
            Subscribe
        </button>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        const applicationServerPublicKey = '{{ application_public_key }}';
    </script>
    <script type="application/javascript" src="/js/register.js"></script>
{% endblock %}

{% block stylesheets %}
    <style>
        html, body {
            padding-top: 1rem;
            height: 100%;
        }

        .btn-success {
            background-color: #7fd81e;
            border-color: #7fd81e;
        }

        .checkbox-active {
            width: 100%;
            height: 100%;
        }

        .checkbox-active input {
            position: absolute;
            top: 50%;
            display: block;
            transform: translate(-50%, -50%);
            left: 50%;
        }
    </style>
{% endblock %}